.button {
    --color: #f08409;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 10px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 10px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   

   /* BOTAO VERMELHO */

   .red-button {
    --color: #f50000;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 10px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .red-button::before, .red-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .red-button::before {
    top: -1em;
    left: -1em;
   }
   
   .red-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .red-button:hover::before, .red-button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .red-button:hover {
    color: rgb(10, 25, 30);
   }
   
   .red-button:active {
    filter: brightness(.8);
   }

    /* BOTAO VERDE */

    .green-button {
        --color: #0bf32a;
        padding: 0.8em 1.7em;
        background-color: transparent;
        border-radius: .3em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        font-weight: 400;
        font-size: 10px;
        border: 1px solid;
        font-family: inherit;
        text-transform: uppercase;
        color: var(--color);
        z-index: 1;
       }
       
       .green-button::before, .green-button::after {
        content: '';
        display: block;
        width: 10px;
        height: 100px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
       }
       
       .green-button::before {
        top: -1em;
        left: -1em;
       }
       
       .green-button::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
       }
       
       .green-button:hover::before, .green-button:hover::after {
        height: 410px;
        width: 410px;
       }
       
       .green-button:hover {
        color: rgb(10, 25, 30);
       }
       
       .green-button:active {
        filter: brightness(.8);
       }
   