.input {
    width: 10.1rem;
    border-bottom: var(--border-height) solid var(--border-before-color);
    border-radius: 5px;
    background-color: rgb(119, 117, 111);
    color: #ffffff;
}

::placeholder {
    color: #ffffff;

    input:focus {
        outline: none;
    }
}

textarea:focus, input:focus { box-shadow: 0 0 0 0; outline: 0; }

/* remove os setinhas que acrescentam/diminuem um numero do imput */

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Efeito para o input Banrisul */

.banrisul-barra {
    --border-after-color: #00a2ff;
    position: relative;
}

.banrisul-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 4.5rem;  /* inicio da animacao */
    transition: 0.3s;
}

input:focus~.banrisul-barra-border {
    width: 10.3rem; /* controla o comprimento da animacao*/    
}

/* Efeito para o input Stone */

.stone-barra {
    --border-after-color: #20EC0E;
    position: relative;
}

.stone-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 3.4rem;
    transition: 0.3s;
}

input:focus~.stone-barra-border {
    width: 10.3rem; 
}

/* Efeito para o input Cielo */

.cielo-barra {
    --border-after-color: #000000;
    position: relative;
}

.cielo-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 3.3rem;
    transition: 0.3s;
}

input:focus~.cielo-barra-border {
    width: 10.3rem; 
}

/* Efeito para o input caixa */

.caixa-barra {
    --border-after-color: #ffc013;
    position: relative;
}

.caixa-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 2.8rem;
    transition: 0.3s;
}

input:focus~.caixa-barra-border {
    width: 10.2rem; 
}

/* Efeito para o input Dinheiro */

.dinheiro-barra {
    --border-after-color: #FFE500;
    position: relative;
}

.dinheiro-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 4rem;
    transition: 0.3s;
}

input:focus~.dinheiro-barra-border {
    width: 10.2rem; 
}

/* Efeito para o input Dinheiro */

.pix-barra {
    --border-after-color: #FFE500;
    position: relative;
}

.pix-barra-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 1.8rem;
    transition: 0.3s;
}

input:focus~.pix-barra-border {
    width: 10.2rem; 
}

/* Efeito para o input input-card-soma */

.input-card-soma {
    width: 150px;
    height: 19px;
    margin-top: 3px;
    border-bottom: var(--border-height) solid var(--border-before-color);
    border-radius: 5px;
    background-color: rgb(119, 117, 111);
    color: #ffffff;
    caret-color: #20EC0E;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.input-card-soma:focus {
    border-color: #0bf32a;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}