body.light-theme {
    color: #000;

    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

body.light-theme .box {
    background-color: #7D7C7C;
    box-shadow: 15px 15px 30px rgb(128, 124, 124), -15px -15px 30px rgb(114, 106, 106);
}

body.light-theme .box-resultado {
    background-color: #7D7C7C;
    box-shadow: 15px 15px 30px rgb(128, 124, 124), -15px -15px 30px rgb(114, 106, 106);
}

body.light-theme .input {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme ::placeholder {
    color: #000000;
}

body.light-theme a {
    color: #00b7ff;
    &:hover {
        color: #ff5733;
    }
} 