body {
    background-color: #303131;
}

button {
    cursor: pointer;
}

.container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 20rem;
    height: 42rem;
    background-color: #2e2f30;
    border-radius: 20px;
}

.box-itens {
    margin-left: 2rem;
}

.titulo {
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.botao-entrada {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    color: #ffffff;
}

.stone {
    color: #20EC0E;
}

.banrisul {
    color: #00a2ff;
}

.cielo {
    color: #ffffff;
}

.dinheiro {
    color: #FFE500;
}

.card {
    width: 350px; min-width: 175px;
    height: 150px; min-height: 125px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    border: none;
}

