@media (min-width: 1366px ) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
    body {
        zoom: 0.80;
    }
}

body.dark-theme {
    background-color: #303131;
    color: #fff;
}

button {
    cursor: pointer;
}

.container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 20rem;
    height: 45rem;
    background-color: #2e2f30;
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    border: none;
}

.box-itens {
    margin-left: 2rem;
}

.titulo {
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.span-cifrao {
    color: rgb(250, 225, 3);
}

.total {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.maqui, .dinh, #valoresSomados, #resultadoSoma, #valoresSubtraidos ,#resultadoSub {
    font-family: 'Roboto', sans-serif;
}

#resultadoSoma {
    color: #20EC0E;
}

#resultadoSub {
    color: #ff5733;
}

.botao-entrada {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    color: #ffffff;
}

.stone {
    color: #20EC0E;
}

.banrisul {
    color: #00a2ff;
}

.cielo {
    color: #ffffff;
}

.caixa {
    color: #ffc013;
}

.dinheiro {
    color: #FFE500;
}

.card {
    width: 350px; min-width: 175px;
    height: 150px; min-height: 125px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    border: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 30px;
}

nav ul li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px; 
    transition: color 0.3s;
    &:hover {
        color: #ff5733;
    }
} 

label.ui-switch {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


