body {
    background-color: #303131;
}

.div1 {
    width: auto;
    height: auto; 
    display: inline-block; 
    padding: 30px;
    background-color: #2e2f30;
    border-radius: 20px;
}

.div2 {
    position: absolute; /* topo*/
    width: auto;
    height: auto; /* altura */
    display: inline-block;  /* deixa um ao lado do outro */
    padding: 30px;
    background-color: #2e2f30;
    border-radius: 20px; /* deixa os cantos arredondados */ 
    margin-left: 10px; /* deixa o espaço entre os 2 blocos */ 
}

.section1 {
    max-width: 40rem;
    margin: 0 auto;
}

.titulo {
    color: #ffffff;
    font-size: 40px;
}

p {
    color: #ffffff;
}

.input{
    border-radius: 10px;
}

p.stone {
    color:green;
}

p.banrisul {
    color: #0787ff;
}

p.dinheiro {
    color:gold;
}

.input {
    background-color: #d0d3d6;
}

.botao {
border-radius: 5px;
cursor:pointer;
}
.botao:hover {
    background-color: rgba(35, 39, 44, 0.25);
}

.btn{
cursor:pointer;  
}